extends layout
block body
  if (authenticated)
    p Here is #{loggedCity}
    p Welcome back, #{me.first + me.last}, today your city's pm2.5 is #{loggedPm25}
    div.product_main
      - for (product in productList) {
          div.product
            div.product_selected
              div.productImg_selected
                a(href='#{productList[product].product_src}')
                  img(src='#{productList[product].product_img_src}')
              p.productPrice
                em(title='#{productList[product].product_price}')
              #{productList[product].product_title}
      - }
    a(href="/logout") Logout
  else
    p Welcome new vistor!
    ul
      li: a(href="/login") Login
      li: a(href="/signup") Signup